/* side navbar wrapper*/
#wrapper {
    min-height: 100%;
    top: 0;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all0.5s ease;
    backdrop-filter: blur(5px) ;

}

#wrapper.toggled{
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all0.5s ease;
}

#sidebar-wrapper.toggled{
    margin-left: 0;
}

#menu-toggle.toggled{
    left: 270px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.nav-button{
    position: fixed;
    top: 20px;
    left: 20px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled{
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 250px;
        width: 250px;
    }

    #sidebar-wrapper.toggled{
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper{
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper{
        position: relative;
        margin-right: 0;
    }

    #menu-toggle.toggled{
        left: 20px;
    }

    .nav-button{
        left: 270px;
    }
}

/* end - side navbar wrapper */

/* sidebar links*/
.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a{
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover{
    color: #ffffff;
    background: none;
}

.sidebar-nav-link {
    line-height: 24px;
    display: block;
    color: white;
    padding: 1rem 0;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* font*/
body {
    font-family: "Montserrat", sans-serif;
}

/* background image*/
html, body {
    height: 100%;
}

.bg {
    background: url(../images/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: sticky;
    height: 100%;
}

.bg2 {
    background: url(../images/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px) ;
}

.bg-blur {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px) ;
}

.bg-black {
    background-color: #000000;
}
/* end - background image*/


.card {
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.h7 {
    font-size: 12px;
}
.border-bottom-2 {

    border-bottom: 2px solid #ffffff;
}
.border-top-2{
    border-top: 2px solid #1c1c1c;
}

.btn-light:focus, .btn-light:hover{
    background-color: rgba(255,255,255,0.9);
}

